<div class="navbar">
    <div class="hamburger">☰</div>
    <div class="logo">TripMoreee</div>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/destinations">Destinations</a>
        <a href="/gallery">Gallery</a>

        {% if session.get("user_id") %}
            <a href="/my-bookings">My Bookings</a>
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login</a>
        {% endif %}

        <a href="/admin/login" class="nav-book-btn">Admin</a>
    </div>
</div>
